################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SNRHos/bin/*
/SNRHos/obj/*
/SNRHos/obj/*
/SNRHos/obj/Release/netstandard2.1/SNRHos.AssemblyInfo.cs
/SNRHos/obj/Debug/netstandard2.1/SNRHos.AssemblyInfoInputs.cache
/SNRHos/obj/Release/netstandard2.1/SNRHos.AssemblyInfoInputs.cache
