################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SNRHos/bin/Debug/SNRHos.1.0.0.2.nupkg
