<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/fabiohcnobre/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="fabiohcnobre" />
      <add key="ClearTextPassword" value="847bcf877b15e7dabc8e276c8c11c750f2c931dd" />
    </github>
  </packageSourceCredentials>
</configuration>