<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/fabiohcnobre/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="fabiohcnobre" />
      <add key="ClearTextPassword" value="99efd0cf097c311deae4b273d862305120a00fd5" />
    </github>
  </packageSourceCredentials>
</configuration>